.search h1 {
  color: #2E2E2E;
  font-size: 1.5rem;
  margin: 2rem 0;
}
.searchInput {
  margin-bottom: 2rem;
  position: relative;
}
.searchInput svg {
  left: 10px;
  position: absolute;
  top: 11px;
}
.searchInput input {
  border: solid 1px #9EA0A4;
  border-radius: 4px;
  padding: 1rem 0 1rem 2.5rem;
  width: calc(100% - 2.5rem);
}
.searchInput input:focus {
  outline-width: 0;
}
